
@{
    ViewData["Title"] = "Index";
}

<h1>Mvc Model Binding -Model Kullanımı</h1>
<p>
    Mvc de controller ve view arasında veri taşıma yöntemlerinden biri de classları kullanmaktır.
    <br />
    Mvc nin Model yani projemizdeki class tır. 
</p>
<a asp-action="KullaniciSayfasi">Kullanıcı Sayfasına Git</a>
<a asp-action="AdresSayfasi">Adres Sayfasına Git</a>
<a asp-action="UyeSayfasi">Üye Bilgi Sayfasına Git</a>

