@model Uye
@{
}
<h2>Validation işlemleri</h2>
<p>Doldurulan formların gönderme illemi öncesi geçmesi gereken işlemlerdir</p>
<ul>
    <li>
        <a asp-action="UyeListesi">Üye Listesi</a>
    </li>
</ul>