@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>MVC Post İşlemi</h2>
<p>Mvc de 2 tane kullandığımız temel yöntem var 1-Get, 2-Post</p>
<p>
    aşağıdaki method="post" değerine sahip form iç.indeki vrileri controllere gönderir.
</p>
<form method="post">
    Adınız: <input type="text" value="" name="txtAd"/>
    <input type="submit" value="Gonder"/>
</form>
<p>
    Mvc de veri iletimi elementlerin name e göre yapılır
</p>
<h2>MVC Get İşlemi</h2>
<form method="get">
    Adınız: <input type="text" value="" name="txtAd" />
    <input type="submit" value="Gonder" />
</form>